@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

textarea {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

body {
  background-color: #0F192A;
}

h1, h2 {
  color: white;
}
