@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap");

.node circle {
    fill: #0b0909;
    stroke: rgb(68, 100, 126);
    stroke-width: 3px;
}

.node text {
    font: 15px Chivo Mono;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 3px;
}